@charset "utf-8";
    a {
        text-decoration: none;
        color: #333;
    }
    a:link, a:visited { color: #333; }
    a:hover { color: #5eebda; }
    html {
        font-size:15px;
        font-family: 'Noto Sans KR', sans-serif;
        letter-spacing: -.5px;
    }
    body {
        width: 100%;
        margin: 0;
    }
    p {
        margin: 0;
    }
    .inWrap{
        max-width: 800px;
        display: block;
        margin: 0 auto;
    }
    .tab {
        width: 100%;
        background: #1F1E22;
        position: relative;
    }
    .tabtitle {
        color: #bcbcc1;
        background: #474952;
        position: absolute;
        top: 10px;
        right: 10px;
        border-radius: 5px;
        padding: 5px;
        font-weight: 200;
    }
    .imgWrap {
        width: 40px;
        height: 40px;
        overflow: hidden;
        float: left;
        border-radius: 5px;
    }
    .imgWrap>img {
        width: 40px;
        max-height: initial;
    }
    .player {
        display: flex;
        overflow: hidden;
        padding: 20px 0px 20px 20px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    }
    .textWrap {
        float: left;
        line-height: 1.6;
        margin-left: 20px;
        margin-right: 50px;
        color: #FFFFFF;
     }
    .Uname {
        font-weight: 800;
        color: #FFFFFF;
     }
    .Utext {
        font-weight: 400;
     }
    .textIMG {
        width: 95%;
        padding-top: 10px;
     }
    .tab00 {
        background: #33313B;
    }
    .tab00 .player {
    }
    .tab00 .player .Uname {
        color: #858296;
    }
    .tab00 .player .Utext {
        color: #908E9A;
    }
    .tab00 .tabtitle {
        display: none;
    }
    .tab01 {
        background: #1F1E22;
    }
    .tab01 .player {
    }
    .tab01 .player .Utext {
        color: #FFFFFF;
    }
    .tab01 .tabtitle {
        display: none;
    }
    .tab02 {
        background: #2C2C2C;
    }
    .tab02 .player {
        border-bottom: 1px solid #2C2C2C;
    }
    .tab02 .player .Utext {
        color: White;
    }
    .tab03 {
        background: #2C2C2C;
    }
    .tab03 .player {
        border-bottom: 1px solid #2C2C2C;
    }
    .tab03 .player .Utext {
        color: White;
    }
    .tab04 {
        background: #2C2C2C;
    }
    .tab04 .player {
        border-bottom: 1px solid #2C2C2C;
    }
    .tab04 .player .Utext {
        color: White;
    }
    .tab05 {
        background: #2C2C2C;
    }
    .tab05 .player {
        border-bottom: 1px solid #2C2C2C;
    }
    .tab05 .player .Utext {
        color: White;
    }
    .tab06 {
        background: #2C2C2C;
    }
    .tab06 .player {
        padding: 7px 0px 7px 10px;
        border-bottom: 1px solid #2C2C2C;
    }
    .tab06 .player .Uname {
        color: #2C2C2C;
    }
    .tab06 .player .Utext {
        color: #59595D;
    }
    .tab06 .tabtitle {
        display: none;
    }
    .tab06 .imgWrap {
        display: none;
    }
    .tab07 {
        background: #303769;
    }
    .tab07 .player {
        padding: 7px 0px 7px 10px;
    }
    .tab07 .player .Utext {
        color: White;
    }
    .tab07 .tabtitle {
        display: none;
    }
    .tab07 .imgWrap {
        display: none;
    }
    .system {
        background: #33313B;
        padding: 0px;
        text-align: center;
        justify-content: center;
    }
    .system>.textWrap>.Uname {
        font-size: 13;
        color: #858296;
        letter-spacing: 1px;
        padding: 3px 8px;
        border-radius: 15px;
        margin: 0px 0px 6px 0px;
        background: #000000;
        display: none;
    }
    .system>.textWrap>.Utext {
        color: #908E9A;
        font-size: 15;
        letter-spacing: -1px;
    }
    .system>.infoWrap {
        display: none;
    }
    .system>.textWrap {
        padding: 10px 20px;
        margin-left: 0;
    }
    .p0 .Uname {
        color: #2196f3;
    }
    .p1 .Uname {
        color: #5eebda;
    }
    .p2 .Uname {
        color: #5eebda;
    }
    .p3 .Uname {
        color: #5eebda;
    }
    .tab01 .p3 {
        text-align: center;
        justify-content: center;
    }
    .tab01 .p3>.textWrap>.Uname {
        display: none;
    }
    .tab01 .p3>.infoWrap {
        display: none;
    }
    .p4 .Uname {
        color: #888888;
    }
    .p5 .Uname {
        color: #E0E0E0;
    }
    .p7 .Uname {
        color: #e0e0e0;
    }
    .p8 .Uname {
        color: #888888;
    }
    .p9 .Uname {
        color: #888888;
    }
    .p10 .Uname {
        color: #888888;
    }
    .p11 .Uname {
        color: #888888;
    }
    .p12 .Uname {
        color: #FCE070;
    }
    .p13 .Uname {
        color: #e0e0e0;
    }
    .p14 .Uname {
        color: #888888;
    }
    .p15 .Uname {
        color: #888888;
    }
    .p16 .Uname {
        color: #3f51b5;
    }
    .p17 .Uname {
        color: #a00000;
    }
    .p18 .Uname {
        color: #a00000;
    }
    .p19 .Uname {
        color: #888888;
    }
    .p20 .Uname {
        color: #888888;
    }
    .p21 .Uname {
        color: #888888;
    }
    .p22 .Uname {
        color: #888888;
    }
    .p23 .Uname {
        color: #000000;
    }
    .p24 .Uname {
        color: #673ab7;
    }
    .p25 .Uname {
        color: #888888;
    }
    .p26 .Uname {
        color: #9e9e9e;
    }
    .p27 .Uname {
        color: #888888;
    }
    .p28 .Uname {
        color: #888888;
    }
    .p29 .Uname {
        color: #888888;
    }
    .p30 .Uname {
        color: #e91e63;
    }
  
