@charset "utf-8";
@font-face {
    font-family: 'NotoSerifKR';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NotoSerifKR.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

a {
    text-decoration: none;
    color: #333;
}
a:link, a:visited { color: #333; }
a:hover { color: #5eebda; }
html {
    font-size:15px;
    font-family: 'Noto Sans KR', sans-serif;
    letter-spacing: -.5px;
}
body {
    background-image: url('https://Road-Hell.github.io/labyrinth-world/2024/origin-and-truth/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    width: 100%;
    margin: 0;
}
p {
    margin: 0;
}
.inWrap{
    max-width: 800px;
    display: block;
    margin: 0 auto;
}
.tab {
    width: 100%;
    background: #1F1E22;
    position: relative;
}
.tabtitle {
    color: #bcbcc1;
    background: #474952;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 5px;
    padding: 5px;
    font-weight: 200;
}
.imgWrap {
    width: 40px;
    height: 40px;
    overflow: hidden;
    float: left;
    border-radius: 5px;
}
.imgWrap>img {
    width: 40px;
    max-height: initial;
}
.player {
    display: flex;
    overflow: hidden;
    padding: 20px 0px 20px 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}
.textWrap {
    float: left;
    line-height: 1.6;
    margin-left: 20px;
    margin-right: 50px;
    color: #FFFFFF;
 }
 @media (max-width: 575px){ 
    .player {
        display: flex;
        overflow: hidden;
        padding: 20px 0px 20px 10px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    }
    .textWrap {
        float: left;
        line-height: 1.6;
        margin-left: 20px;
        margin-right: 0px;
        color: #FFFFFF;
     }
  }
.Uname {
    font-weight: 800;
    color: #FFFFFF;
 }
.Utext {
    font-weight: 400;
 }
.textIMG {
    width: 95%;
    padding-top: 10px;
 }

 /* tab background set */
.tabMain {
    background: #1F1E22;
}
.tabMain .player {
}
.tabMain .player .Utext {
    color: #FFFFFF;
}
.tabMain .tabtitle {
    display: none;
}
.tabSecret {
    background: #2C2C2C;
}
.tabSecret .player {
    border-bottom: 1px solid #2C2C2C;
}
.tabSecret .player .Utext {
    color: White;
}
.tabAward {
    background: #2C2C2C;
}
.tabAward .player {
    padding: 7px 0px 7px 10px;
    border-bottom: 1px solid #2C2C2C;
}
.tabAward .player .Uname {
    display: none;
}
.tabAward .player .Utext {
    color: #59595D;
}
.tabAward .tabtitle {
    display: none;
}
.tabAward .imgWrap {
    display: none;
}
.tabInfo {
    background: #303769;
}
.tabInfo .player {
    padding: 7px 0px 7px 10px;
}
.tabInfo .player .Utext {
    color: White;
}
.tabInfo .tabtitle {
    display: none;
}
.tabInfo .imgWrap {
    display: none;
}
.system {
    background: #33313B;
    padding: 0px;
    text-align: center;
    justify-content: center;
}
.system>.textWrap>.Uname {
    font-size: 13;
    color: #858296;
    letter-spacing: 1px;
    padding: 3px 8px;
    border-radius: 15px;
    margin: 0px 0px 6px 0px;
    background: #000000;
    display: none;
}
.system>.textWrap>.Utext {
    color: #908E9A;
    font-size: 15;
    letter-spacing: -1px;
}
.system>.infoWrap {
    display: none;
}
.system>.textWrap {
    padding: 10px 20px;
    margin-left: 0;
}

/* Uname color */
.nar .Uname {
    color: #5eebda;
}
.tabMain .nar {
    text-align: center;
    justify-content: center;
}
.tabMain .nar>.textWrap>.Uname {
    display: none;
}
.tabMain .nar>.infoWrap {
    display: none;
}
.extra .Uname {
    color: #9098A3;
}
.gm .Uname {
    color: #5eebda;
}
.narSystem .Uname {
    color: #e0e0e0;
}
.niya .Uname {
    color: #FCE070;
}
.jared .Uname {
    color: #673ab7;
}
.zena .Uname {
    color: #9e9e9e;
}
.fidel .Uname {
    color: #e91e63;
}
.droneA .Uname {
    color: #e0e0e0;
}
.charles .Uname {
    color: #3f51b5;
}
.shane .Uname {
    color: #a00000;
}
.origin .Uname {
    color: #000000;
}
.blanc .Uname {
    color: #2196f3;
} 
.ivan .Uname {
    color: #8f7ea8;
}
.isaac .Uname {
    color: #607d8b;
}
.oper .Uname {
    color: #9cc471;
}
.el .Uname {
    color: #ffefc4;
}
